# Ignore environment variable files
.env
.env.local
.env.production
*.env

# Ignore virtual environment
venv/

# Ignore compiled files and caches
__pycache__/
*.pyc

# Ignore static and collected files
staticfiles/
media/

# Ignore OS and editor-specific files
.DS_Store
.vscode/
.env
.env
